body {
  background-color: #76ebe1; /* color fondo claro */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 50px;
  padding: 20px;
}
h1 {
  color: #2b2b2b;
  font-size: 2.5em;
}
img.banner {
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  max-width: 90%;
  height: auto;
}
